<% tweet.comments.each do |t| %> 
	<p>
		<%= t.comment %>
		<%= link_to "Edit","#" %> 
		<%= link_to "Delete", user_tweet_comment_path(t.tweet.user.id, t.tweet.id, t.id), :method => :delete, :confirm => "delete comment?", :remote => true %>
	</p>
<% end %>

<%= form_for @comment, :url => user_tweet_comments_path(tweet.user.id,tweet.id), :method => :post, :remote => true do |comm| %>
	<%= comm.label :comment %>
	<%= comm.text_field :comment %>
	<%= comm.submit "Go" %>
<% end %>
