<div class="row">
	<div class="span3 offset2">
		<h1>Users#index</h1>
		<p>Find me in app/views/users/index.html.erb</p>

		<table class= "table table-bordered table-striped" >
			<thead>
				<tr>
					<th>Username</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Age</th>
					<th>Sex</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @user.each do |user| %>
					<tr>
						<td><%= link_to "#{user.username}", user_path(user.id) %></td>
						<td><%= user.firstname %></td>
						<td><%= user.lastname %></td>
						<td><%= user.age %></td>
						<td><%= user.sex %></td>
						<td><%= link_to "Delete", user_path(user.id), :confirm => "Are you sure?", :method => :delete  %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<%= link_to "Sign up",new_user_registration_path %><br>
		<%= link_to "Login in",new_user_session_path %><br>
		<%= link_to "Sign out",destroy_user_session_path, :method => :delete %>

	</div>
</div>