<div class="row">
	<div class="span8 offset2">
		<div class="hero-unit">
			<h1>Users</h1><br>
				"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		</div>
		<%= paginate @user %><br> <!-- PAGINATION -->
		<table id="cat" class= "table table-bordered table-striped" >
			<thead >
				<tr>
					<th>Username</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Age</th>
					<th>Sex</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @user.each do |user| %>
					<tr id= <%= user.id %> foo= <%= user.sex %> >
						<td><%= link_to "#{user.username}", user_path(user.id) %></td>
						<td><%= user.firstname %></td>
						<td class="lastname" ><%= user.lastname %></td>
						<td><%= user.age %></td>
						<td class="sex"><%= user.sex %></td>
						<td><%= link_to "Delete", user_path(user.id), :confirm => "Are you sure?", :method => :delete  %></td>
					</tr>
				<% end %>

			</tbody>
		
		</table>

		<%= button_tag "Ok", :id => "but1" , :class => "some" %>
		<%= button_tag "Ok2", :id => "but2"%>
	
		<%= text_field_tag :some %>	

		<div class= "tweets">
			<p>
			TEST
			</p>
		</div>
		
	</div>
</div>